<div class="tasks">
  <h2 class="text-center head-text">TASKS</h2>
  <div class="list-group" ng-repeat="task in tasks">
    <div class="input-group">
      <span class="input-group-addon" ng-click="editTask(task)">
        <input type="checkbox" aria-label="..." ng-model="task.completed">
      </span>
      <div class="list-group-item" ng-class="{completed : task.completed}">{{task.title}}</div>
    </div>
  </div>
    <div class="input-group" ng-show="new">
      <input type="text" ng-model="newTask.title" class="form-control" placeholder="Create a new task..." name="title">
      <input type="number" ng-model="newTask.list_id" class="form-control" name="list_id" value={{currentList}}>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addTask(newTask); new=false; newTask=''">Add</button>
      </span>
    </div>
  <button class="new_list btn btn-success" ng-click="new=true" ng-show="currentList">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add task!
  </button>
</div>
{{newTask}}
